@import url('https://fonts.cdnfonts.com/css/mochibop');
@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
html {
  --text: var(--ctp-mocha-text);
  --bg: var(--ctp-mocha-base);

  --hint: var(--ctp-mocha-flamingo);

  font-family: 'Mochibop', sans-serif;
  font-size: 24px;

  color: var(--text);
  background-color: var(--bg);
  overflow-x: none;
}

html.dark {
  --text: var(--ctp-latte-text);
  --bg: var(--ctp-latte-base);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--ctp-mocha-base);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ctp-mocha-base);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

th,
td {
  padding: 4px;
}

hr {
  border-top-width: 4px;
  border-radius: 4px;
  max-width: 8rem;
  margin: auto;
}
